/* {
    margin: 0;
    padding: 0;
} */
#app{
    border: 1px solid #FCC735;
    box-sizing: border-box;
    height: 1000px;
    background-color: #FCC735;
}
.app_child{
    /* border: 1px solid green; */
    width: 60%;
    margin: auto;
    height: 90%;
    margin-top: 100px;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.app_child div{
    /* border: 1px solid red; */
    height: 80%;
   
    
    
    
}
.app_child .pic1{
    height: 50px;
    width: 150px;
    margin-top: 30px;
}
.app_child_2 .pic1{
    height: 60px;
    width: 180px;
    margin-top: 30px;
    margin-left: 200px;
    
}

.app_child div img{
    width: 100%;
    height: 100%;
    
}
.app_child >div >div {
    /* border: 1px solid black; */
    height: 100px;
    width: 80%;
    margin-top: -50px;

    
}
.app_child_2 p{
    /* width: 90%; */
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
    margin-top: 60px;

}
.app_child_2 img{
    width: 350px;
}
.app_child p{

    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;

}
.app_child h3{
    /* width: 90%; */
    line-height: 20px;
    word-spacing: 8px;
}
.scan{
    border: 1px solid green;
    margin-top: 80px;
    width: 120px;
    height: 900px;

}
.priya{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 27px;
/* margin-top: 30%; */
/* padding-top: 10%;
color:  red; */



}
.app_child .pic{
    height: 140px;
    width: 140px;
    margin-top: 10px;
}
.app_child_2 .pic{
    height: 190px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.sec_div{
    height: 750px;
    /* border: 1px solid red; */
    background-color: #ff5d5d;
}
.app_child1{
    width: 50%;
    /* border: 1px solid black; */
    /* height: 80%; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;
}  
.app_child1 >div{
    margin-top: 80px;
    /* border: 1px solid blue; */
    height: 90%;
    margin-bottom: 60px;

}
.app_child1  img{
width: 90%;
height: 85%;
}
.app_child1 p{
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 170px;
}
   

.third_div{
    height: 750px;
    background-color: #34e0a1;
}
.fourth_div{
    height: 750px;
    background-color: #FFCCCC;
}
.last_div{
    height: 600px;
    /* border: 1px solid black; */
}

.app_child_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: auto;
    margin-top: 60px;
    gap: 50px;
}
.app_child_2 div{
    /* border: 1px solid black; */
    height: 80%;
 
}




