.upperFooter{
    border: 1px solid red;
    display: flex;
    background-color: #faf1ed;
    padding: 1%;
    gap: 0 1%;
}

.upperFooter li{
    list-style: none;
    color: rgb(0, 0, 0);
    font-weight:bold;
    line-height: 1.5;
}

.upperFooter li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.upperFooter li:first-child{
    color: #949291;
    font-weight: 100;
    font-size: 20px;
}

.upperFooter li:first-child:hover{
    cursor: auto;
    text-decoration: none;
}

.upperFooter_left_part{
    display: flex;
    width: 50%;
    border: 1px solid blue;
}

.upperFooter_right_part{
    width: 50%;
    text-align: center;
    font-size: 20px;
    border: 1px solid blue;
}

.upperFooter_right_part p{
    font-size: 16px;
}
.upperFooter_right_part span{
    font-weight: bold;

}

.upperFooter_right_part span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #949291;
}


/* Css for lower footer */
.lowerFooter{
    border: 1px solid black;
    background-color: #faf1ed;
    display: flex;
    gap: 0 1%;
}

.lowerFooter_left_part{
    border: 1px solid red;
    width: 60%;
}

.lowerFooter_left_part > div {
    border: 1px solid blue;
    display: flex;
}

.lowerFooter_left_part > div:nth-child(1) > div:first-child{
    border: 1px solid red;
    width: 10%;
    /* display: flex; */
}

.copyrigth_whole_div{
    border: 1px solid blue;   
    /* display: flex; */
    width: 90%;
}

.copyrigth_whole_div > div:nth-child(2) div{
    border: 1px solid green;
    line-height: 0;
    display: flex;
}

.copyrigth_whole_div > div:nth-child(2) p{
    color:  black;
    font-weight: bold;
    display: inline;
    margin-right: 5%;
    cursor: pointer;
}

.copyrigth_whole_div > div:nth-child(2) p:hover{
    text-decoration: underline;

}



/* .lowerFooter_left_part div:nth-child(1) > div {
    display: flex;
    border: 1px solid blue;
    width: 100%;
} */
/* 
.lowerFooter_left_part > div > div{
    display: flex;
    border: 1px solid black;

}

.lowerFooter_right_part{
    border: 1px solid red;
    width: 40%;

} */