/* ------------------------- for main navbar ------------------------- */
*{
    margin: 0;
    padding: 0%;
}

.navbar_yogi{
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: .5%;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 10;
}

.home_main_navbar_yogi{
    width: 90%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
}

.main_navbar_logo_yogi{
    width: 15%;
}
.main_navbar_logo_yogi img{
    width: 100%;
}

/* .home_main_navbar_searchbox_yogi{
    border: 1px solid black;
    width: 40%;
} */

.navbar_signup_section_yogi{
    width: 35%;
    display: flex;
    gap: 0% 2%;
}

.navbar_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1.5% 3%;
    border-radius: 40px 40px 40px 40px;
    cursor: pointer;
    font-weight: 600;
}

.navbar_flex:hover{
    background-color: rgb(248, 244, 244);
}

.navbar_flex p,span{
    /* background-color: red; */
    margin-left: 4%;

}

#navbar_signIn_yogi{
    background-color: black;
    color: white;
}

/* ------------------------- 2nd navbar and whole home page ------------------------- */ 

.navbar2_yogi{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    padding: 1%;
    gap: 0 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.navbar2_element_yogi{
    display: flex;
    margin: auto;
    width: 15%;
    border: 1px solid black;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    /* font-weight: bold; */
}

.navbar2_element_yogi a{
    color: black;
    text-decoration: none;
}

.navbar2_element_yogi:hover{
    cursor:pointer;
    background-color: black;
    color: white;
}

.navbar2_element_yogi a:hover{
    cursor: pointer;
    color: white;
}

/* navbar2nd */
.img_with_search_box{
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    /* position: absolute; */
    background-image: url("https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans.webp");
    background-repeat: no-repeat;
    height: 348px;
    background-size: cover;
}

#search_city_name{
    width: 60%;
    padding: 1.7%;
    margin: auto;
    position: relative;
    left: 19%;
    top: 43%;
    border-radius: 100px;
    border: 1px solid rgb(212, 210, 210);
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* get out there section */
.getOutThere_section_yogi{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    padding: 1%;
    margin-bottom: 5%;

}
.getOutThere_fristDiv_yogi{
    /* border: 1px solid red; */
    width: 60%;
    padding: 1%;
    background-color: #faf1ed;    

}

.getOutThere_fristDiv_yogi > div{
    line-height: 1.2;
    align-items: left;
    justify-content: center;
    margin-top: 4%;
}

.getOutThere_fristDiv_yogi > button{
    padding: 2% 3%;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 5%;
    cursor: pointer;
}

.getOutThere_secondDiv_yogi{
    width: 40%;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/f7/1d/4d/caption.jpg?w=1000&h=-1&s=1");
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* height: auto; */
    padding: 3%;
}

.getOutThere_secondDiv_yogi > img{
    /* background-color: red; */
    width: 30%;
    position: relative;
    top: 25%;
    left: 75%;    
}

/* travellers choice best of best section */

.travellers_choice_section_yogi{
    /* border: 1px solid red; */
    display: flex;
    background-color: #004f32;
    gap: 0 2%;
    margin-bottom: 5%;
    justify-content: space-around;
}

.travellers_frist_Div_yogi{
    width: 20%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.travellers_frist_Div_yogi > div{
    width: 60%;
    /* border: 1px solid red; */
    text-align: center;
    /* line-height: 1.4; */
    
}
.travellers_frist_Div_yogi > div > h2{
    margin-top: 20%;
    color: white;

}

.travellers_frist_Div_yogi > div > button{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 8% 12%;
    font-weight: bold;
    border-radius: 32px;    
    cursor: pointer;
    margin-top: 40%;    
}

.travellers_frist_Div_yogi > div > button:hover{
    background-color: #333;
    border: 1px solid #333;
}

.travellers_frist_Div_yogi > div img{
    width: 80%;
    
}

/* ------------------------- footer  ------------------------- */

.upperFooter{
    /* border: 1px solid red; */
    display: flex;
    background-color: #faf1ed;
    padding: 0 1%;
    gap: 0 1%;
    justify-content: space-between;
    padding-top: 1%;
}

.upperFooter_left_part{
    display: flex;
    width: 43%;
    /* border: 1px solid blue; */
    justify-content: space-around;
    
}

.upperFooter li{
    list-style: none;
    color: rgb(0, 0, 0);
    font-weight:bold;
    line-height: 1.5;
    /* justify-content: space-between; */
}

.upperFooter li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.upperFooter li:first-child{
    color: #949291;
    font-weight: 100;
    font-size: 20px;
}

.upperFooter li:first-child:hover{
    cursor: auto;
    text-decoration: none;
}

.upperFooter a{
    color: black;
    text-decoration: none;
}

.upperFooter_right_part{
    width: 36%;
    /* text-align: center; */
    font-size: 20px;
    /* border: 1px solid blue; */
}

.upperFooter_right_part p{
    font-size: 16px;
}
.upperFooter_right_part span{
    font-weight: bold;

}

.upperFooter_right_part span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #949291;
}


/* Css for lower footer */

.lowerFooter{
    /* border: 1px solid black; */
    background-color: #faf1ed;
    display: flex;
    gap: 0 1%;
    /* padding: 2%; */
    padding: 1% 2%;
}

.lowerFooter_left_part{
    /* border: 1px solid red; */
    width: 60%;
}

.lowerFooter_left_part > div {
    /* border: 1px solid blue; */
    display: flex;
}

.lowerFooter_left_part > div:nth-child(1) > div:first-child{
    /* border: 1px solid red; */
    width: 10%;
    /* display: flex; */
}

.lowerFooter_left_part > div:nth-child(1) > div:first-child img{
    /* border: 1px solid blue; */
    width: 80%;
    /* margin-top: 30%; */
}

.copyrigth_whole_div{
    /* border: 1px solid blue;    */
    /* display: flex; */
    width: 90%;
}

.copyrigth_whole_div > div:nth-child(2) div{
    /* border: 1px solid green; */
    /* width: 80%; */
    /* line-height: 1.5; */
    display: flex;
    margin-top: 1.5%;
}

.copyrigth_whole_div > div:nth-child(2) p{
    color:  #333;;
    font-weight: bold;
    display: inline;
    margin-right: 5%;
    cursor: pointer;
    text-decoration: underline;
}

.lowerFooter_left_part > div:nth-child(2),.lowerFooter_left_part > div:nth-child(1){
    color: #333333;
    font-size: 13px;
    letter-spacing: .1px;
    margin-top: 2%;
}

.lowerFooter_left_part span{
    font-weight: bold;
    cursor: pointer;
    margin: 0%;
}

.lowerFooter_left_part span:hover{
    text-decoration: underline;
}

.lowerFooter_right_part{
    /* border: 1px solid black; */
    width: 50%;
}

.lowerFooter_right_part > div > select{
    width: 40%;
    padding: 1.5% 2%;
    border: 2px solid #d4d8d4;;
    border-radius: 15px;
}

.lowerFooter_right_part > div:nth-child(1){
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: end;    
}

.lowerFooter_right_part > div:nth-child(2){
    display: flex;
    gap: 0 3%;
    /* border: 1px solid red; */
    justify-content: end;
    /* background-color: goldenrod; */
    margin-top: 3%;
    margin-right: 2%;
}

.fa-brands{
    font-size: 25px;
}