*{
    margin: 0px;
    padding: 0px;
 } 
 #main_p{
    width: 85%;
    margin: auto;
    border: 1px solid black;  
}
#main_p p{
    margin-top: 80px;
    font-weight: bold;
    font-size: 40px;
}
#first_p{
    border: 1px solid red;
    height: 250px;
}
.text{
    font-size: 18px;
    color: rgb(67, 65, 65);
}
#second_p{
    height: 500px;
    border: 1px solid blue;
}
#third_p{
    height: 500px;
    border: 1px solid green;
}
.mid_text{
   text-align: center; 
}
#container_p{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    border: 1px solid yellow;
    gap: 20px;
    margin-bottom: 50px;
    position: relative;

}
#container_p>div>img{
    width: 100%;
    height: 350px;
    
}
#container_p>div{
    /* border: 1px solid teal; */
    margin-top: 10px;
}

#container_p p {
    color: rgb(104, 103, 103);
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

#download{
    display: flex;
    /* border: 1px solid lightcoral; */
    height: 200px;
    margin-bottom: 80px;
}
#download>div{
    /* border: 1px solid blueviolet; */
    width: 50%;
}
#download .dow1{
    background-color: rgb(238, 251, 250);
}
#download .dow2{
background-color: rgb(255, 241, 243);
}
#download .dow3{
    background-color: rgb(254, 190, 217);
    }
    #download .dow4{
        background-color:  #FFF7E1;
    }


.dow2 img{
width: 100%;
height: 100%;
}
.btn_p{
background-color: black;
color: white;
border-radius: 30px;
font-size: 16px;
padding: 15px 20px;
margin-top: 20px;
margin-left: 18px;
}
#download h2{
    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#download .text{
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cir_main{
    /* border: 1px solid red; */
    height: 12px;
    gap: 3px;
    display: flex;
    margin: 6px;
    
}
 .cir_main >div {
    border-radius: 50%;
    height: 12px;
    width: 2.8%;
    border: 1px solid  #00aa6c;
    background-color:  #00aa6c
}

.rev{
    /* border: 1px solid red; */
    height: 25px;
    display: flex;
    gap: 10px;
    width: 80%;
    margin-top: 6px;
}
.rev img{
    border-radius: 50%; 
}

#content_p{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid blueviolet; */
    height: 400px;
    gap: 15px;

}

.parent_p{
    display: flex;
    justify-content: space-between;
}
#content_p >div >div{
    /* border:  1px solid black; */
    display: flex;
    
}
.left{
    display: flex;
    gap: 10px;
    height: 50px;
    margin-top: 5px;
}
.right{
    display: flex;
    gap: 10px;
    height: 50px;
    margin-top: 5px;
}
.left_1{
    display: flex;
    flex-direction: column;

   
}
.left_img img{
border-radius: 50%;

height: 30px;
width: 30px;
}


.fa{
   margin-left: 20px;
   margin-right: 10px;
}
#content_p  .par{
    font-size: 10px;
      

}

.divicon{
    border: 1px solid white;
    padding: 1%;
    position: absolute;
    z-index: 1;
    margin-top: -26%;
    /* margin-right: -80%; */
    border-radius: 50%;
    background-color: white;
    margin-left: 26%;
    cursor: pointer;
}

.name{
    color: rgb(38, 37, 37);
    font-size: 14px;

}
h4{
    /* margin-top: 5px; */
    margin-bottom: 8px;
}
h2{
    margin-bottom: 16px;
}
/* faq */
.accordion_item{
    /* background-color: rgb(202, 202, 212); */
    margin-bottom: 10px;
    /* padding: 1rem 0; */
    
}
.accordion_link{
    font-size: 1.2rem;
    color: black;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 1rem 0;
    cursor: pointer;
    
}


.accordion_link:hover{
    text-decoration: underline;
}

.list  {
    padding-left: 20px;
    text-decoration: underline;
    color: rgb(77, 77, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
.answer{
    overflow: hidden; 
    max-height: 0;
    position: relative;
    font-size: 18px;
    line-height: 30px;
}
.answer::before{
    content: "";
    position: absolute;
   
}
.accordion_item:target .answer{
    max-height: 20rem;
    cursor: pointer;
    /* text-decoration: underline; */
}
.ans{
    font-size:20px;
    /* font-weight: bold; */
    color: rgb(77, 77, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}







