*{
    margin: 0;
    padding: 0;
    cursor: pointer;
    

}

.hBanner_vw>img{
    width: 100%;
    height: 34vh;
   
}
.hBanner_vw{
    margin-top: 100px;
}

.Title_vw{
   position:absolute;
    /* z-index:1; */
    top: 18%;
    left: 26%;
    /* border: 2px solid rgb(204, 53, 53); */
    color: rgb(224, 224, 224);
}

#Title_city_vw,#title_vw{
    font-size: 42px;
    font-weight: bold;
    font-family: sans-serif;
    word-spacing: 2px;
    
}

#Data_title_vw{
    position: absolute;
    top: 27%;
    left: 38%;
    color: rgb(244, 244, 244);
    font-family: sans-serif;
    word-spacing: 2px;
font-size: 18px;

}

.date1{
    opacity: 0.9;
    text-align: center;
    position: absolute;
    font-size: 13px;
    top: 33%;
    left: 18%;
    color:rgb(103, 103, 103);
    background-color: white;
   border-radius: 5px;
   width: 20%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#checkIN_vw{
    border: none;
    padding: 4px;

}

#checkOut_vw{
    border: none;
    padding: 4px;
}
.date2{
    text-align: center;
    opacity: 0.9;
    position: absolute;
    font-size: 13px;
    top: 33%;
    left: 40%;
    color:rgb(103, 103, 103);
    background-color: white;
   border-radius: 5px;
   width: 20%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.guest{
  
    width: 19%;
    text-align: center;
    position: absolute;
    top: 33%;
    left: 62%;
    background-color: white;
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(103, 103, 103);
height: 39px;
    opacity: 0.9;
   border-radius: 5px;



}
.guestDetails_vw{
 margin-top: 3px;
 color: black;
 font-size: 13px;
}

.style{
    height: 40px;
    width: 20px;
    background-color: green;
}

.green{
    height: 40px;
    width: 12px;
    background-color: rgb(0, 116, 0);
    position: absolute;
    top: 33%;
    left: 18%;

}
.red{
    height: 40px;
    width: 12px;
    background-color: rgb(184, 1, 1); 
    position:absolute;
    top: 33%;
    left: 40%;  
}
.grey{
    height: 40px;
    width: 12px;
    background-color: rgb(98, 98, 98);
    position: absolute;
    top: 33%;
   
    left: 62%;
}


/* guest adding div */

.adding_guest_vw{
   
    /* border: 1px solid red; */
    /* display:inline; */
    background-color: white;
    display:flex;
    position: absolute;
    top: 39%;
    left: 62%;
    height:280px;
    width:395px;
    /* opacity: 0.9; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
    z-index: 2;

}


.guest_buttons{
    /* border: 1px solid yellow; */
    height: 220px;
    width:210px ;
    margin-left: 5px;
}
.rooms{
   
   margin-left: 10px;
    margin-top: 17px;
}
.adults{
    margin-left: 10px;
    margin-top: 37px;
}
.children{
    margin-left: 10px;
    margin-top: 45px; 
}

#num , #num2,#num3{
    font-size:22px;
    font-weight: bolder;
    padding: 6px 20px 6px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.minus_btn_vw,.minus_btn_vw2,.minus_btn_vw3{
    font-size:22px;
    font-weight: bolder;
    padding: 6px 25px 6px 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.plus_btn_vw,.plus_btn_vw2,.plus_btn_vw3{
    font-size:22px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 6px 25px 6px 25px;
    /* border: 1px solid red;  */
    /* margin-left: px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.plus_btn_vw:hover{
    background-color: rgb(216, 216, 216);
    transition: 0.3s ease-in-out;
}

.minus_btn_vw:hover{
    background-color: rgb(216, 216, 216);
    transition: 0.3s ease-in-out;
} 

.update_btn_vw{
    width: 170px;
    height: 40px;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 13px;
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;


}
.cross_button{
    padding: 7px;
    font-size:22px;
    font-size: bolder;
    height:21px ;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
   
}






  


#hotel_image_vw{
    height: 100%;
}
  .container1_vw {
    /* position: relative; */
    /* border: 1px solid black; */
    width: 100%;
    top: 30%;

    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 35px;
    /* margin-left: 10%; */
    display: flex;
  }
  
  
  .cont1_vw{
      width:30%;
      /* border: 1px solid blue; */
      
  }
  .cont1_vw img{
      width: 100%;
      
  }
  
  .cont2_vw{
      /* border: 1px solid green ; */
      width: 70%;
      padding: 1%;
  }
  
  .cont2-1_vw{
      /* border: 1px solid red; */
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      display: flex;
      margin: auto;
      margin-top: 2%;
      justify-content: space-between;
      
  }
  
  .cont1-1_vw{
      /* border: 1px solid blue; */
      /* background-color: red; */
      width: 32%;
  }
  
  .cont1-2_vw {
      width: 23%;
      /* border: 1px solid red; */
      /* background-color: blue; */
  }
  .cont1-3_vw {
      width: 36%;
    /* overflow-x: scroll; */
      /* background-color: skyblue; */
      /* border: 1px solid black; */
  }
  
  
  .sponsor{
    padding: 1% 2%;
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
  }
  
  .img_brand_vw {
    /* border: 1px dotted blue; */
    width: 20%;
  }
  
  #img_brand_logo{
    width: 47%;
    height: 32%;
    /* border: 1px dashed black;   */
    margin-left: 25%;
  }
  
  .view_deal_btn{
    text-align: center;
    font-family: sans-serif;
    width: 200px;
    height: 45px;
    background-color: rgb(255, 223, 16);
    border-radius: 25px;
    border: none;
    margin-top: 12px;
    margin-bottom: 7px;
    margin-left: 9%;
  
  }
  .view_deal_btn:hover{
    background-color: rgb(250, 193, 50);
    transition: 0.3s ease-in-out;
  }
  /* form here... This code is your's.. I don't made any change */
  
  
  .hotelName_vw {
      text-decoration: none;
      color: rgb(45, 168, 235);
      padding: 10px;
      font-size: 18px;
      font-weight: bolder;
      font-family: sans-serif;
      transition: 0.5s ease-in-out;
  }
    
  .hotelName_vw:hover {
      text-decoration: underline;
      transition-duration: 0.5s ease;
  }
  .Price_vw{
    font-size:23px;
    text-align: center;
    margin-top: 6px;
  
  }
  
  
  /* cont1-3 */
  
  .review_img{
    /* border: 1px solid black; */
    height: 31px;
  }
  .review_img>img{
    width: 68%;
  }
  #review2{
    width: 70%;
    height: 23%;
  }
  .customer_review{
    color: rgb(79, 79, 79);
    text-align:center;
   
  font-size: 13px;
  font-family: sans-serif;
  
  }
  
  .service{
    margin-top: 20px;
  }
  .service>img{
    width: 110px;
    height: 100px;
     margin-left: 20%;
  }

  .appendingCards{
   
    width: 71%;
    margin-left: 24%;
   

  }
  .c_review{
    width:100%;
    height: 120px;
    margin-bottom: 7px;
    overflow: auto;
  }

  #select_price{
   
    width: 310px;
    height: 33px;
   color: rgb(79, 79, 79);


  }

  .select_price{
    margin-left: 68%;
    margin-top: 1%;
    margin-bottom: 10px;
    color: rgb(79, 79, 79);

  }

  .priceData{
    /* border: 1px solid red; */
    width: 63%;
    height: 65vh;
    margin-left: 26%;
  }
  .pricedaata{
    width: 100%;
  }




